---
import Layout from "../Layout.astro"

const submissions = [
  { title: 'Hello World', id: 123 },
  { title: 'testttingg', id: 123 },
  { title: 'OK cool',  id: 123 },
]
---

<Layout>
  <h1>unnamed project</h1>
	<a href="/create">[+ CREATE NEW]</a>

	<div>
    {submissions.map(submission => (
      <div>
        <a href={`/submission/${submission.id}`}>{submission.title}</a>
      </div>
    ))}
	</div>
</Layout>
