---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <style>
      html {
        font-family:
          Menlo,
          Consolas,
          Monaco,
          Liberation Mono,
          Lucida Console,
          monospace;
      }

      body {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 1rem;
        padding-top: 1rem;
      }
    </style>

    <style is:global>
      button {
        padding: 1rem;
        cursor: pointer;
        font-family:
          Menlo,
          Consolas,
          Monaco,
          Liberation Mono,
          Lucida Console,
          monospace;

      }
    </style>

    <title>vegas hackathon</title>
  </head>
  <body>
    <slot />
  </body>
</html>
