<div class="container">
  <canvas class="pixel-art-canvas"> </canvas>
  <pre>
    D - cycle up colors
    A - cycle down colors
    W - increase brush size
    S - decrease brush size
    E - pick color
    Q - fill
  </pre>
  <button id="submit-button">SUBMIT</button>
</div>

<style>
  canvas {
    image-rendering: pixelated;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>

<script src="./pixel-art-editor.ts">
</script>
